.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}
.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox__input {
  padding: 10px;
  display: flex;
}
.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 15px;
  border: none;
  outline: none;
}
.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  height: 45px !important;
  margin-top: 15px !important;
  font-size: 16px !important;
  margin-left: auto !important;
}
.tweetBox__inputImage {
  border: none;
  outline: none;
  padding: 10px;
}
